
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
      font-family: "Manrope", sans-serif;
}
.container{
    max-width: 1131px;
    margin: 0 auto;
}

header{
    background-color: #65E4A3;
}
.nav-bar{
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    width: 162.22px;
}
.main{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.nav-contents{
    display: flex;
    gap: 40px;
    font-size: 16px;
    list-style: none;
    align-items: center;
}
li a{
    text-decoration: none;
    color:  #0A2640;
     font-size: 16px;
}
.log{
    border: 2px solid;
    border-radius: 24px;
    padding: 8px 40px;
    background-color: #65E4A3;
    color: #0A2640;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.a{
    font-size:20px ;
    font-weight: 400;
    color: #0A2640;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 46px;
}
.main-head{
    color: #000000;
    font-size: 34px;
    font-weight: 400;
    margin-top: 12px;
    padding-bottom: 96px;
}

.b{
    font-size: 16px;
    color: #0A2640;
    font-weight: 400;
}
.main-sec{
    margin-top: 94px;
    margin-left: 94px;
    margin-right: 199px;
    margin-bottom: 120px;
}
.num{
    text-align: center;
}
.our{
    font-size:20px ;
    font-weight:400 ;
    padding-bottom: 12px;
    color: #0A2640;
}
.hand{
    font-size: 42px;
    font-weight: 400;
    color: #0A2640;
    padding-bottom: 82px;
    padding-left: 59px;
    padding-right:59px ;
}
.cool{
    display: flex;
text-align: center;
gap: 141.5px;
}
.one{
    margin-bottom: 32px;
}
.m{
    font-size: 98px;
    font-weight: 400;
    color: #0A2640;
}
.story{
    margin: 0px;
    padding: 100px 232px;
    background-color: #0A2640;
    color: #FFFFFF;
}
.our-story{
    font-size: 20px;
    font-weight:400 ;
    margin-bottom:12px ;
}
.mass{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
}
.angel{
    font-size: 20px;
    font-weight: 400;
}
.team{
    margin: 124px 160px;
}
.our{
    padding-left:   50px;
    padding-right: 50px;
}
.o{
    color: #777777;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 12px;
}
.people{
    padding-bottom: 22.5px;
    color: #000000;
    font-size:48 ;
    font-weight: 400;
}
.first{
    color: #777777;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 36px;
}
.micheal{
    display: flex;
    justify-content: space-between;
}
.general{
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    padding-top: 24px;
}
.manager{
    font-size: 20px;
    font-weight: 400;
    color: #777777;
    padding-top: 12px;
    margin-bottom: 110px;
}
.dwight{
    display: flex;
    align-items: center;
    gap: 206px;
}
.schrute{
    display: flex;
}
.left{
    margin-left: 24px;
}
.name{
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin-top: 14px;
}
.manager-two{
    font-size: 20px;
    color: #777777;
    font-weight: 400;
    margin-top: 12px;
}
.dwight-two{
    display: flex;
    align-items: center;
    gap: 234px;
    margin-top: 46px;
    margin-bottom: 124px; 
}
.blog{
    background-color: #0A2640;
    color: #FFFFFF;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 120px;
}
.blue{
    padding-top: 118px;
    text-align: center; 
    padding-left: 100px;
    padding-right: 100px;
}
.our-blog{
    font-size:20px ;
    font-weight: 400;
    margin-bottom:12px ;
}
.value{
    font-size:42px ;
    font-weight: 400;
margin-bottom: 62px;
}
hr{
    margin-bottom: 84px;
}
.comited{
    display: flex;
    gap: 173px;
    align-items: center;
    padding-left: 95px;
     margin-bottom: 80px;
    
}
.are{
    font-size: 42px;
    font-weight: 400;
}
.commit{
color: #65E4A3;
}
.white{
    font-size: 16px;
    font-weight: 400;
}
.white-two{
    font-size: 16px;
    font-weight: 400;
    padding-right: 75px;
}
.white-three{
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
.comited-two{
    margin-bottom: 80px;
     display: flex;
    gap: 173px;
    align-items: center;
    padding-left: 95px;
}
.comited-three{
    margin-bottom: 80px;
     display: flex;
    gap: 173px;
    align-items: center;
    padding-left: 95px;
}
.enter{
    background-color: #0A2640;
    margin-top: 124px ;
    margin-left: 80px;
    margin-right: 80px;
}
.circle{
}
.template{
    text-align: center;
    padding: 72px 242px;
}
.an{
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 48px;
}
.form{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 23px;
}
.email{
    background-color: #FFFFFF;
    border: 2px solid;
    border-radius: 240px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-right: 130px;
    padding-top: 12px;
    padding-bottom: 12px;
}
input::placeholder{
    color:#000000;
}
.start{
    padding: 16px 38px;
    background: #65E4A3;
    border: 2px solid;
    border-radius: 56px;
    color: #0A2640;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}
.last{
    margin-top: 84px;
    padding-top: 100px;
}
    
.last-para{
font-size: 16px;
font-weight: 400;
margin-bottom: 64px;
color: #777777;
}
.reserve{
color: #777777;
margin-bottom: 117px;
font-size: 16px;
font-weight: 400;
}
.end-div{
    display: flex;
    gap: 179px;
}
.land{
    
}
.company{
display: flex;
    gap: 120px;
    list-style: none;
    margin-bottom: 32px;
}
.bold{
    color: #0A2640;
    font-size: 43.25px;
    font-weight: 700;
    margin-bottom: 40px;
}
.ho{
    display: flex;
    gap:155px;
    list-style: none;
}
.ho-2{
      display: flex;
    justify-content: space-between;
    list-style: none;
}
.ho-3{
     display: flex;
    gap:130px;
    list-style: none;
}
.thick{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}
.thin{
    font-size:20px ;
    font-weight:400 ;
    color:#777777 ;
    
}
.home{
    margin-bottom: 30px;
}
.hire{
border: 1px solid #65E4A3;
background-color: #65E4A3;
border-radius: 120px;
padding: 1px 14px;
gap: 10px;
font-size: 13px;
font-family:700 ;
color: #0A2640;
text-align: center;
margin-left: 10px;
}
.pro{
    padding-right: 20px;
}
.carer{
    padding-left: 62px;
}